<div class="item">
    <div>Nome do chef</div>
    <input type="text" name="name" value="{{ chef.name }}">
</div>

<div class="item">
    <div>Avatar (link)</div>
    <input type="text" name="avatar_url" value="{{ chef.avatar_url }}">
</div>