
* {
    margin: 0;
    padding: 0;
}

.menus #sobre {
    font-weight: bold;
}

main {
    width: 940px;
    margin: 50px auto;
}

main section h2 {
    font-size: 24px;
    color: #111111;
    line-height: 28px;
    margin-bottom: 20px;
}

main section h3 {
    font-size: 20px;
    color: #111111;
    line-height: 24px;
    margin-bottom: 20px;
}

main section p {
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    margin-bottom: 30px;
}
