@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 940px;
    margin: 0 auto;
}

header {
    margin: 32px 0;
    display: grid;
    grid-template-columns: 210px 1fr;
    align-items: center;
}

.menus a {
    text-decoration: none;
    font-size: 16px;
    color: #111111;
    margin-right: 30px;
}

.hero {
    background: #FBDFDB;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.presentation {
    width: 316px;
    align-self: center;
    padding-left: 60px;
}


.presentation h1 {
    font-size: 32px;
    color: #111111;
    line-height: 38px;
    margin-bottom: 10px;
}

.presentation p {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.7);
    line-height: 28px;
}

.hero img {
    justify-self: center;
    padding-top: 66px;
}

.hero img:hover {
    border-radius: 5px;
    filter: opacity(80%);
}

main {
    width: 940px;
    margin: 50px auto;
}

main h3 {
    font-size: 24px;
    color: #111111;
    line-height: 28px;
    margin-bottom: 20px;
}

.receitas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px 20px;
}

.receitas img {
    width: 100%;
    border-radius: 15px;
    
}

.card h4 {
    font-size: 18px;
    color: #111111;
    line-height: 21px;
    font-weight: normal;
    margin: 20px 0 5px;
}

.card p {
    font-size: 14px;
    color: #777777;
    line-height: 16px;
}

footer {
    background: #EEEEEE;
    padding: 20px 0;
    font-size: 14px;
    color: #999999;
    text-align: center;
}