<!DOCTYPE html>

<html>
    <head>
    {% block head %}
        <title>Receitas</title>
    {% endblock head %}
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/styles.css">
    <meta charset="UTF-8"> 
    </head>

    <body>
    <div class="header">
            <div class="links">
                <div class="logo">
                    <a href="/admin/recipes"><img src="/images/layouts/assets/white-logo.png" alt="logo_foodfy"/></a>
                </div>
                <div class="links-header menus">
                    <a class="link" href="/admin/recipes">Receitas</a>
                    <a class="link" href="/admin/chefs">Chefs</a>
                </div>
            </div>
    </div>

    {% block content %}
    
    {% endblock content %}
    
    <script src="/scripts.js"></script>

    </body>
</html>