<div class="item">
    <div>Nome Completo</div>
    <div class="input">
        <input 
        required 
        type="text" 
        name="name" 
        placeholder="Digite o seu Nome completo" 
        value="{{ user.name }}">
    </div>
</div>

<div class="item">
    <div>Email</div>
    <div class="input">
        <input 
        required
        type="email" 
        name="email" 
        placeholder="Digite o seu Email" 
        value="{{ user.email }}"
        onblur="Validate.apply(this, 'isEmail')"
        >
    </div>
</div>

<div class="item">
    <div>Senha</div>
    <div class="input">
        <input 
        required
        type="password" 
        name="password" 
        {% if not user.id %}
        placeholder="Escolha sua senha segura" 
        {% else %}
        placeholder="Digite sua senha para atualizar as informações" 
        {% endif %}
        >
    </div>
</div>

{% if not user.id %}

<div class="item">
    <div>Confirmar senha</div>
    <div class="input">
        <input 
        type="password" 
        name="passwordRepeat" 
        placeholder="Repita a sua senha" 
        >
    </div>
</div>

{% endif %}

<div class="item">
    <div>CPF ou CNPJ</div>
    <div class="input">
        <input 
        required
        type="text"
        name="cpf_cnpj" 
        placeholder="Digite o seu CPF ou CNPJ" 
        value="{{ user.cpf_cnpj }}"
        onkeydown="Mask.apply(this, 'cpfCnpj')"
        onblur="Validate.apply(this, 'isCpfCnpj')"
        >
    </div>
</div>

<div class="item">
    <div>CEP</div>
    <div class="input">
        <input 
        required
        type="text" 
        name="cep" 
        placeholder="99999-999" 
        value="{{ user.cep }}"
        onkeydown="Mask.apply(this, 'cep')"
        onblur="Validate.apply(this, 'isCep')"
        >
    </div>
</div>

<div class="item">
    <div>Endereço Completo</div>
    <div class="input">
        <input 
        required
        type="text"
        name="address" 
        placeholder="Digite o seu Endereço" 
        value="{{ user.address }}">
    </div>
</div>