<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="styles.css">
        <title>Sobre</title>
        <link rel="icon" href="https://raw.githubusercontent.com/Rocketseat/bootcamp-launchbase-desafios-02/master/desafios/favicon.ico" type="image/x-icon" />
    </head>
    <body>
        <header>
            <div class="header">
                <a href="./favico.html" >Home</a>
                <a href="https://discordapp.com/invite/gCRAFhc" target="_blank">Comunidade</a>
                <a href="/course" >Conteúdo</a>

            </div>
        </header>
        <main>
            <div class="name">
                <a href="https://rocketseat.com.br"><strong><em>Rocketseat</em></strong></a>
            </div>
            <div class="logo">
                <img src="https://avatars2.githubusercontent.com/u/28929274?s=400&v=4" alt="rocketseat" >
            </div>
            <div class="info">
                <p>As melhores tecnologias em programação, direto ao ponto e do jeito certo:</p>
                <ul>
                    <li>NodeJS</li>
                    <li>React</li>
                    <li>ReactNative</li>
                </ul>
            </div>
        </main>
        <footer>
        <div class="footer">
            <a href="https://github.com/rocketseat" target="_blank">Github</a>
            <a href="https://facebook.com/rocketseat" target="_blank">Facebook</a>
            <a href="https://instagram.com/rocketseat_oficial" target="_blank">Instagram</a>
        </div>
        </footer>
    </body>
</html>