{% extends 'model.njk' %}

{% block head %}
    <title>Editando receita</title>
{% endblock head %}

{% block content %}
<div class="recipe">
    <div class="recipe-dashboard delete">
        <form action="/admin/recipes?_method=DELETE" method="post" class="recipe-controller">
            <input type="hidden" name="id" value="{{recipe.id}}">
            <button class="delete-button" id="button-delete" type="submit">Deletar receita</button>
        </form>
    </div>

    <form action="/admin/recipes?_method=PUT" method="post">
        <div class="recipe-dashboard">
            <h4>Editando receita</h4>
            <button type="submit">Salvar receita</button>
        </div>

        {% include './recipeModel.njk' %}
        
        <input type="hidden" name="id" value="{{recipe.id}}">
    </form>
</div>

<script src="/addNewField.js"></script>
{% endblock content %}