{% extends 'model.njk' %}

{% block head %}
    <title>Listagem</title>
{% endblock head %}

{% block content %}
    <section id="box">
        <h3>Gerenciar receitas</h3>
        {% from 'admin/recipes/loadRecipes.njk' import loadRecipes %}
        {{ loadRecipes(recipes) }}
        
        <div class="pagination"
            data-page = {{pagination.page}}
            data-total = {{pagination.total}}
            data-filter = {{filter}}
        >
        </div>
    </section>

{% endblock content %}