{% macro loadRecipes(recipes) %}
    <div class="recipes">
        {% for recipe in recipes %}
            <div class="recipe">
                <div class="logo-image">
                    <img src="{{ recipe.path }}" alt="{{ recipe.title }}">
                </div>
                <div class="details">
                    <h4 class="title">{{ recipe.title }}</h4>
                    <p class="author">{{ recipe.chef_name }}</p>
                    <a href="/admin/recipes/{{ recipe.id }}" class="view">Visualizar</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endmacro %}