{% extends "model.njk" %}

{% block head %}
    <title>Receita de {{recipe.title}}</title>
{% endblock head %}

{% block content %}
<div class="recipe">
        <div class="recipe-dashboard">
            <h4>Receita: {{ recipe.title }}</h4>
            <a href="/admin/recipes/{{recipe.id}}/edit"><button>Editar receita</button></a>
        </div>
        
        <div class="recipe-header">
            <img src="{{recipe.image}}" alt="{{recipe.title}}">
            <h2>{{recipe.title}}</h2>
            <p>por {{recipe.chef_name}}</p>
        </div>

        <div class="recipe-content">

            <div id="ingredients" class="topic">
            <div class="recipe-menu">
                <h3>Ingredientes</h3>
                <h4>ESCONDER</h4>
            </div>
                <div id="dash-list" class="topic-content">
                    <ul>
                        {% for ingredient in recipe.ingredients %}
                            <li>{{ingredient}}</li>
                        {% endfor %}
                    </ul>

                </div> 

            </div> 

            <div id="preparation" class="topic">
            <div class="recipe-menu">
                <h3>Modo de preparo</h3>
                <h4>MOSTRAR</h4>
            </div>
                <div id="dash-list" class="topic-content hidden">
                    <ul>
                        {% for preparation in recipe.preparation %}
                            <li>{{preparation}}</li>
                        {% endfor %}
                    </ul>

                </div> 
        
            </div> 

            <div id="information" class="topic">
            <div class="recipe-menu">
                <h3>Informações adicionais</h3>
                <h4>ESCONDER</h4>
            </div>
                <div class="topic-content">
                    <p style="max-width: 940px;">{{recipe.information}}</p>
                </div> 

            </div> 

        </div> 

</div> 
{% endblock content %}