{% extends "layout.njk" %}

{% block head %}
    <title>Receitas</title>
{% endblock head %}
    
{% block content %}
    <main>
        <div class="recipes">
        {% for recipe in recipes %}
        <a href="/recipes/{{recipe.id}}">
            <div class="card">
                <img src="{{recipe.image}}" alt="{{recipe.title}}">
                <h5>{{recipe.title}}</h5>
                <p>por {{recipe.author}}</p>
            </div>
        </a>
        {% endfor %}

        </div>
    </main>

{% endblock content %}