<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="/styles.css">
        {% block head %}
            <title>Gym Manager</title>

        {% endblock %}

    </head>

    <body>
        <header>
            <div class="links">
                <a href="/instructors">Instructors</a>
                <a href="/members">Members</a>
            </div>
        </header>

        {% block content %}{% endblock %}
        <script src="/scripts.js"></script>
    </body>
    
</html>