{% extends "layout.njk" %}

{% block head %}
<title>Sobre - {{about.name}}</title>
<style>
    #about {
        color: rgba(27, 230, 71, 0.9);
    }
</style>

{% endblock %}

{% block content %}
<div class="links" id="wrapper">
    <img src="{{about.image_url}}" alt="{{about.name}}">
    <h1>{{about.name}}</h1>
    <h2>{{about.role}}</h2>
    <p>{{about.description}}</p>
</div>

<footer>
    <div class="links" id="links-footer">
    {% for link in about.links %}
        <a href="{{link.url}}" target="_blank">{{link.name}}</a>
    {% endfor %}
    </div>
</footer>

{% endblock %}