<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="styles.css">
    <title>Mayk Brito</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        #classes {
            color: rgba(27, 230, 71, 0.9);
        }
    </style>

</head>

<body>
    <header>
        <div class="menu">
            <a id="about" href="./about.html">Sobre</a>
            <a id="classes" href="./classes.html">Aulas</a>
        </div>
    </header>

    <div class="links" id="wrapper">
        <h1>Aulas</h1>
    </div>

    <section class="cards">

        <div class="card">
            <div id="vqrjFnq3-uo" class="card_image_container">
                <img src="https://img.youtube.com/vi/vqrjFnq3-uo/maxresdefault.jpg"
                    alt="Criando Player de Áudio com Javascript | Mayk Brito">
            </div>
            <div class="card_content">
                <p class="description">Criando Player de Áudio com Javascript | Mayk Brito</p>
            </div>
            <div class="card_info">
                <h5 class="time">1:45:43</h5>
                <h6 class="price">Free</h6>
            </div>

        </div>

        <div class="card">
            <div id="GykTLqODQuU" class="card_image_container">
                <img src="https://img.youtube.com/vi/GykTLqODQuU/maxresdefault.jpg"
                    alt="Formulário Animado com JS puro e CSS Animation">
            </div>
            <div class="card_content">
                <p class="description">Formulário Animado com JS puro e CSS Animation | Mayk Brito</p>
            </div>
            <div class="card_info">
                <h5 class="time">57:56</h5>
                <h6 class="price">Free</h6>
            </div>

        </div>

        <div class="card">
            <div id="2alg7MQ6_sI" class="card_image_container">
                <img src="https://img.youtube.com/vi/2alg7MQ6_sI/maxresdefault.jpg"
                    alt="Como usar Git e Github na prática: Guia para iniciantes">
            </div>
            <div class="card_content">
                <p class="description">Como usar Git e Github na prática: Guia para iniciantes | Mayk Brito</p>
            </div>
            <div class="card_info">
                <h5 class="time">33:43</h5>
                <h6 class="price">Free</h6>
            </div>

        </div>

        <div class="card">
            <div id="GSqR2i-Pq6o" class="card_image_container">
                <img src="https://img.youtube.com/vi/GSqR2i-Pq6o/maxresdefault.jpg"
                    alt="Desvendando a variável this no Javascript">
            </div>
            <div class="card_content">
                <p class="description">Desvendando a variável this no Javascript | Mayk Brito</p>
            </div>
            <div class="card_info">
                <h5 class="time">48:20</h5>
                <h6 class="price">Free</h6>
            </div>

        </div>

        <div class="card">
            <div id="HN1UjzRSdBk" class="card_image_container">
                <img src="https://img.youtube.com/vi/HN1UjzRSdBk/maxresdefault.jpg"
                    alt="Desvendando o CSS Grid na prática">
            </div>
            <div class="card_content">
                <p class="description">Desvendando o CSS Grid na prática | Mayk Brito</p>
            </div>
            <div class="card_info">
                <h5 class="time">35:16</h5>
                <h6 class="price">Free</h6>
            </div>

        </div>

        <div class="card">
            <div id="ghTrp1x_1As" class="card_image_container">
                <img src="https://img.youtube.com/vi/ghTrp1x_1As/maxresdefault.jpg" alt="O que é API? REST e RESTful?">
            </div>
            <div class="card_content">
                <p class="description">O que é API? REST e RESTful? | Mayk Brito</p>
            </div>
            <div class="card_info">
                <h5 class="time">33:56</h5>
                <h6 class="price">Free</h6>
            </div>

        </div>

        <div class="card">
            <div id="rAzHvYnQ8DY" class="card_image_container">
                <img src="https://img.youtube.com/vi/rAzHvYnQ8DY/maxresdefault.jpg" alt="Array: Higher Order Functions">
            </div>
            <div class="card_content">
                <p class="description">Array: Higher Order Functions | Mayk Brito</p>
            </div>
            <div class="card_info">
                <h5 class="time">54:05</h5>
                <h6 class="price">Free</h6>
            </div>

        </div>

    </section>

    <div class="modal-overlay">
        <div class="modal">
            <a class="close-modal">
                <i class="material-icons">close</i>
            </a>
            <div class="modal-content">
                <iframe src="" frameborder="0"></iframe>
            </div>
        </div>
    </div>
    
    <script src="scripts.js"></script>

</body>

</html>