
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

:root {
    --color-underline:rgba(43, 14, 66, 1);
    --color-background: rgba(43, 14, 66, 0.9);
    --pointed-color:rgba(27, 230, 71, 0.9);
}

* {
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #202541;
    color: white;
}

header {
    background-color: var(--color-background);
    width: 100%;
    text-align: center;
    padding: 26px;
    box-sizing: border-box;
}

.menu a {
    color: white;
    font-size: 20px;
    line-height: 28px;
    text-decoration: none;
    margin-right: 15px;
}

.menu a:hover {
    color: var(--pointed-color);
    transition: 850ms;
    text-decoration: underline solid var(--color-underline);
}

#wrapper {
    text-align: center;
    padding: 16px 32px 32px;
}

#wrapper img{
    border-radius: 50%;
    height: 400px;
    margin-bottom: 16px;
    border: 3px solid var(--pointed-color);
}

#wrapper h1 {
    font-size: 32px;
    line-height: 42px;
    padding-bottom: 5px;
}

#wrapper h2 {
    font-size: 28px;
    line-height: 38px;
    padding-bottom: 10px;
}

#wrapper p {
    font-size: 18px;
    line-height: 25px;
    max-width: 700px;
    margin: 0 auto;
}

.links a {
    color: var(--pointed-color);
    border-bottom: 1px solid var(--pointed-color);
    text-decoration: none;
}

footer {
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    margin-bottom: 22px;
}

#links-footer a {
    margin: 10px 5px;
}

#links-footer a:hover {
    color: rgba(16, 158, 47, 0.9);
    transition: 450ms;
}

/* === CARDS ===*/

.cards {
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 15px;
}

.card {
    background-color: #7159c1;
    display: grid;
    cursor: pointer;
}

/* === FEATURED === */

.card_image_container img {
    width: 100%;
}

.featured-wrapper.card_image_container {
    position: relative;
}

.featured {
    background: #efc119ec;
    border-radius: 16px;
    padding: 3px 7px;
    position: absolute;
    top: -12px;
    font-size: 16px;
    left: 0;
    color: #111;
}

.card_content, 
.card_info {
    text-align: center;
    padding: 22px;
    font-size: 17px;
}

.card_info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 5px;
    
}

.card_info .time,
.card_info .price {
    border-radius: 5px;
    padding: 3px;
    background-color: var(--color-background);
    
}

/* === VIDEO PAGE === */

.video {
    margin: 0 auto;
    max-width: 1080px;
    margin-bottom: 15px;
}

.video .card {
    cursor: initial;
}

.card_video_container {
    padding-top: 56.25%;
    position: relative;
    width: 100%;
}

.card_video_container iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
