<!DOCTYPE html>

<html>

<head>
    {% block head %}
    <title>Foodfy</title>

    {% endblock %}

    <link rel="stylesheet" href="/styles.css">
    
</head>

<body>
    <div class="wrapper">
        <header>
            <a href="/"><img src="/images\layouts\assets\logo.png" alt="logo_foodfy" /></a>
            <div class="menus">
                <a id="about" href="/about" rel="options">Sobre</a>
                <a id="recipes" href="/recipes" rel="options">Receitas</a>
            </div>
        </header>
    {% block header %}

    {% endblock header %}
    </div>

    {% block content %}

    {% endblock content %}
    
    <footer>
        Todos direitos reservados, receitas Foodfy.
    </footer>

    <script src="/scripts.js"></script>
</body>

</html>