@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color:#7159c1;
    --secondary-color:#777;
    --tertiary-color:#F7DF1E;
}

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.wrapper {
    width: 940px;
    margin: 0 auto;
}

header {
    margin: 32px 0;
    display: grid;
    grid-template-columns: 210px 1fr;
    align-items: center;
}

.menus {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.menus a {
    text-decoration: none;
    font-size: 16px;
    color: #111111;
    margin-right: 30px;
}

.menus a.active,
.links-header a.active {
    font-weight: bold;
}

.hero {
    background: #FBDFDB;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.presentation {
    width: 316px;
    align-self: center;
    padding-left: 60px;
}


.presentation h1 {
    font-size: 32px;
    color: #111111;
    line-height: 38px;
    margin-bottom: 10px;
}

.presentation p {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.7);
    line-height: 28px;
}

.hero img {
    justify-self: center;
    padding-top: 66px;
}

.hero img:hover {
    border-radius: 5px;
    filter: opacity(80%);
}

main {
    width: 940px;
    margin: 50px auto;
    min-height: 40vh;
}

main section h2 {
    font-size: 24px;
    color: #111111;
    line-height: 28px;
    margin-bottom: 20px;
}

main section h3 {
    font-size: 20px;
    color: #111111;
    line-height: 24px;
    margin-bottom: 20px;
}

main section p {
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    margin-bottom: 30px;
}

main h3 {
    font-size: 24px;
    color: #111111;
    line-height: 28px;
    margin-bottom: 20px;
}

main div.recipes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px 20px;
}

.card {
    width: 300px;
}

.card img {
    width: 100%;
    border-radius: 15px;
    height: 140px;
}

.card h5 {
    font-size: 18px;
    color: #111111;
    line-height: 21px;
    font-weight: normal;
    margin: 20px 0 6px;
    text-transform: capitalize;
}

.card p {
    font-size: 14px;
    color: #777777;
    line-height: 16px;
    text-transform: capitalize;
}

footer {
    background: #EEEEEE;
    padding: 20px 0;
    font-size: 14px;
    color: #999999;
    text-align: center;
    margin-top: auto;
    width: 100%;
}

/* === PAGE RECIPE === */
div.recipe {
    width: 940px;
    box-sizing: border-box;
    margin: 0 auto;
    min-height: 80vh;
}

.recipe-header {
    width: 100%;
    text-align: center;
}

.recipe-header img{
    width: 100%;
    height: 280px;
    border-radius: 15px;
    margin-top: 30px;
}

.recipe-header h2{
    margin-top: 50px;
    font-size: 36px;
    color: #111111;
    line-height: 42px;
}

.recipe-header h2::first-letter {
    text-transform: capitalize;
}

.recipe-header p{
    margin: 4px 0 60px;
    font-size: 20px;
    color: #777777;
    line-height: 24px;
    text-transform: capitalize;
}

/* === RECIPE CONTENT === */

.recipe-content {
    margin-bottom: 50px;
    box-sizing: border-box;
    width: 100%;
}

.recipe-menu {
    display: flex;
    align-items: baseline;
    margin-bottom: 20px;
}

.recipe-menu h3 {
    margin-right: 8px;
    font-size: 24px;
    color: #111111;
    line-height: 28px;
}

.recipe-menu h4 {
    margin-right: 8px;
    font-size: 12px;
    color: #999999;
    line-height: 14px;
    cursor: pointer;
}

#ingredients, 
#preparation {
    margin-bottom: 35px;
}

#ingredients li::first-letter, 
#preparation li::first-letter,
#information p::first-letter {
    text-transform: capitalize;
}

#information p {
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    text-align: justify;
}

/* === RECIPE INGREDIENTS LISTS === */

li {
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    list-style-position: inside;
}

/* === HIDE AND SHOW CONTENTS === */

.topic-content.hidden {
    display: none;
}

/* === ADMIN PAGE === */

div.header {
    width: 100%;
    height: 80px;
    margin: 0 auto;
    top: 0;
    background: #111111;
}

@media screen and (max-width: 767px) {
    div.header {
        position: fixed;
        display: block;
        z-index: 2;
    }
    section#box h3 {
        margin-top: 126px;
    }
    .recipe-dashboard, .chef-dashboard {
        padding-top: 50px;
    }
}

.header div.links {
    max-width: 940px;
    height: 80px;
    margin: 0 auto;
    background: inherit;
    display: grid;
    grid-template-columns: 100px 1fr;
    align-content: center;
    align-items: center;
}

.links-header {
    display: block;
}

.links-header .link {
    margin-left: 50px;
    text-transform: uppercase;
    font-size: 15px;
    color: #999999;
    text-align: left;
}

.links-header .link + .link {
    margin-left: 30px;
}

.links-header .link.active {
    color: white;
}

section#box {
    max-width: 940px;
    margin: 50px auto;
}

section#box h3 {
    line-height: 28px;
    font-size: 24px;
    color: #111111;
    margin-bottom: 30px;
}

div.recipes {
    display: grid;
    max-width: 940px;
    grid-template-columns: 1fr 1fr;
    row-gap: initial;
    gap: 20px 5px;
}

div.recipes div.recipe {
    width: 100%;
    display: flex;
    min-height: 80px;
}

div.logo-image img {
    width: 172px;
    height: 80px; 
    border-radius: 8px;
}

div.details {
    display: block;
    padding-left: 20px;
    line-height: 16px;
}

.details .title {
    margin-bottom: 5px;
    font-size: 18px;
    color: #111111;
    line-height: 21px;
    text-transform: capitalize;
}

.details .author {
    margin-bottom: 10px;
    font-size: 14px;
    color: var(--secondary-color);
    text-transform: capitalize;
}

.details .view,
.chef-info .view {
    color: #6558C3;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}

.recipe-dashboard, .chef-dashboard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.chef-controller, .recipe-controller {
    display: flex;
}

.recipe-dashboard h4,
.chef-dashboard h4 {
    font-family: Helvetica;
    font-size: 24px;
    color: #111111;
    line-height: 28px;
}

button {
    padding: 9px 20px;
    cursor: pointer;
    line-height: 19px;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    background-color: #6558C3;
}

button#button-delete {
    background: #DC4747;
    margin-right: 10px;
}

button[type="submit"] {
    font-weight: bold;
}

/* === CREATE RECIPE === */

.item {
    margin-top: 30px;
}

.item div:first-child {
    font-size: 16px;
    color: #111111;
    font-weight: bold;
    line-height: 19px;
}

.item div#ingredients > .ingredient:first-child input,
.item div#preparation > .preparation:first-child input {
    margin-bottom: 19px;
}

.item div#ingredients > .ingredient > input,
.item div#preparation > .preparation > input {
    margin-bottom: 10px;
}

.item input, .item textarea, .item select {
    width: 100%;
    outline: none;
    height: 7vh;
    padding: 15px 20px;
    box-sizing: border-box;
    margin: 10px 0 0;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    font-size: 16px;
    color: var(--secondary-color);
}

.item select, select {
    width: 100%;
    padding: 8px 16px;
    box-shadow: 2px 2px 2px -4px rgba(63, 63, 63, .9);
    border: 1px solid #dddddd;
    border-radius: 4px;
    font-size: 16px;

    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

.item textarea {
    height: 25vh;
    font-size: 24px;
    resize: none;
    margin-bottom: 20px;
}

.item #preparation, .item #ingredients {
    margin: 0 0 15px;
}

.add-ingredient, 
.add-preparation,
.remove-ingredient,
.remove-preparation {
    background: none;
    font-size: 16px;
    line-height: 19px;
    color: #6558C3;
    padding: 0;
    display: block;
}

.remove-ingredient, .remove-preparation {
    margin-bottom: 5px;
}

#dash-list ul {
    list-style-type: '- ';
}

/* === CHEF PAGE === */

div.create-box {
    width: 940px;
    box-sizing: border-box;
    margin: 0 auto;
    min-height: 80vh;
}

.chefs {
    width: 940px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 64px;
    grid-gap: 20px;
}

.chef {
    display: flex;
    align-items: center;
    position: relative;
}

.chef::before {
    content: "";
    position: absolute;
    width: 100%;
    top: -10px;
    border-bottom: 1px solid var(--primary-color);
}

.chef-avatar {
    height: 64px;
    margin-right: 20px;
}

.chef .chef-avatar img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.chef-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chef-info h5 {
    margin-bottom: 10px;
    font-weight: normal;
    text-transform: capitalize;
    font-size: 18px;
    color: #111111;
    line-height: 21px;
}

.chef-info p {
    font-size: 14px;
    color: #666666;
    line-height: 16px;
}

/* === ADMIN CHEFS PAGE=== */

.chef-header {
    margin-top: 50px;
    text-align: center;
}

.chef-header img {
    width: 200px;
    border-radius: 50%;
    height: 200px;
}

.chef-header h2 {
    font-size: 33px;
    color: #111;
    line-height: 42px;
    margin: 30px 0 4px;
}

.chef-header p {
    font-size: 20px;
    color: #777777;
    line-height: 24px;
}

/* === PAGINATION === */
.pagination {
    width: 940px;
    text-align: center;
    margin-top: 100px;
}

.pagination a, .pagination span {
    margin-right: 10px;
    color: var(--primary-color);
    font-size: 18px;
}

.pagination a:hover {
    transition: all 300ms;
    filter: brightness(0.3);
    border-bottom: 1px solid var(--primary-color);
    padding: 2px;
}

.pagination a.active {
    filter: brightness(0.3);
    font-size: 20px;
}

/* INPUT FILES */

form .item div.title {
    font-family: Helvetica;
    font-size: 16px;
    color: #111111;
    line-height: 19px;
}


form .item #photos-upload {
    display: block;
    margin-top: 10px;
    position: relative;
    width: 200px;
    overflow: hidden;
}

form .item #photos-upload p {
    background: #6558C3;
    width: 100%;
    padding: 8px 16px;
    border-radius: 4px;
    color: white;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    box-shadow: 0px 2px 2px -6px #333;
}

form .item #photos-input {
    margin-top: 0;
    top: 0;
    left: 0;
    display: block;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

form .item #photos-preview {
    display: grid;
    grid-gap: 8px 2px;
    width: 30vw;
    margin: 8px 0;
}

form .item #photos-preview img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

form .item #photos-preview .photo {
    position: relative;
}

form .item #photos-preview .photo i {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    opacity: 0;
    background-color:#efefefdd;
    color: red;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 500%;  
    cursor: pointer;
    transition: opacity 200ms;
}

form .item #photos-preview .photo i:hover {
    opacity: 1;
}

form div.item > div.title {
    font-family: Helvetica;
    color: #111;
    font-size: 16px;
    line-height: 19px;
}

div.box-images-recipes {
    display: flex;
    align-items: center;
}

div.box-images-recipes #photos-upload {
    height: 150px;
    width: 150px;
}

div.box-images-recipes div#photos-upload input[name="photos"] {
    padding: 0;
    width: 150px;
}

div.box-images-recipes div#photos-upload {
    background: rgba(255,255,255, 0.7);
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    margin: 0px;
}

div.box-images-recipes div#photos-upload i {
    font-size: 40px;
    color: #999;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

div.box-images-recipes #photos-preview {
    grid-gap: 8px 8px;
    margin: 8px 8px;
    height: 150px;
}

@keyframes toRight {
    from {
        transform: translate(-50%, 0);
        opacity: 0.1;
    }

    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

div.box-images-recipes #photos-preview .photo {
    animation: toRight forwards 200ms ease-in-out;
}

div.box-images-recipes #photos-preview img {
    width: 150px;
    height: 150px;
}

div.box-images-recipes #photos-preview .photo i{
    height: 150px;
}