{% extends "layout.njk" %}

{% block content %}

<div class="card table-container">
<a href="/instructors/create">Novo</a>
    <table width=100%>
        <thead>
            <tr>
                <th>Instrutor</th>
                <th>Atendimento</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for instructor in instructors %}
            <tr>
                <td>
                <span style="background : url({{ instructor.avatar_url }}) no-repeat center center / cover"></span>
                {{ instructor.name }}
                </td>
                
                <td>
                {% for services in instructor.services %}
                    <span>
                        {{ services }}
                    </span>
                {% endfor %}
                </td>

                <td><a href="/instructors/{{ instructor.id }}">ver</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock content %}