<div class="item">
    <div>Nome da receita</div>
    <input type="text" name="title" value="{{ recipe.title }}">
</div>

<div class="item">
    <div>Nome do autor</div>
    <input type="text" name="author" value="{{ recipe.author }}">
</div>

<div class="item">
    <div>Imagem da receita</div>
    <input type="url" name="image" placeholder="https://" value="{{ recipe.image }}">
</div>