<div class="item">
    <div>Avatar URL</div>
    <div>
        <input type="url" 
        name="avatar_url" 
        placeholder="https://" 
        value="{{ instructor.avatar_url }}">
    </div>
</div>

<div class="item">
    <div>Instrutor</div>
    <div>
        <input type="text" 
        name="name" 
        placeholder="Seu nome" 
        value="{{ instructor.name }}">
    </div>
</div>

<div class="item">
    <div>Data de nascimento</div>
    <div>
        <input type="date" 
        name="birth" 
        value="{{ instructor.birth }}">
    </div>
</div>

<div class="item">
    <div>Sexo</div>
    <div>
        <span><input type="radio" 
        name="gender" 
        value="M" 
        {% if instructor.gender == "M" %} 
        checked 
        {% endif %}>
            MASCULINO
        </span>

        <span><input type="radio" 
        name="gender" 
        value="F" 
        {% if instructor.gender == "F" %} 
        checked
        {% endif %}>
            FEMININO
        </span>

    </div>
</div>

<div class="item">
    <div>Acompanhamento</div>
    <div>
        <input type="text" 
        name="services" 
        placeholder="Separe por vírgula." 
        value="{{ instructor.services }}">
    </div>
</div>

<button type="submit">Salvar</button>
