{% extends "layout.njk" %}

{% block head %}
    <title>Receitas</title>
{% endblock head %}
    
{% block content %}
    <main>
        {% if filter %}
            <h3>Procurando por "{{filter}}"</h3>
        {% endif %}
        <div class="recipes">
        {% for recipe in recipes %}
            <div class="card">
                <a href="/recipes/{{recipe.id}}"><img src="{{recipe.image}}" alt="{{recipe.title}}"></a>
                <h5>{{recipe.title}}</h5>
                <p>por {{recipe.author}}</p>
            </div>
        {% endfor %}

        </div>
    </main>

{% endblock content %}